<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap-phpunit.php" colors="true">
  <testsuites>
    <testsuite name="PHP SDK">
      <directory suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>src</directory>
    </whitelist>
  </filter>
  <logging>
    <log
      type="coverage-html"
      target="../htdocs/coverage"
      charset="UTF-8"
      yui="true"
      lowUpperBound="35"
      highLowerBound="70"
      showUncoveredFiles="true"/>
  </logging>
</phpunit>